<!DOCTYPE html>
<html lang="es">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inyecciones</title>
     <link rel="stylesheet" href="/src/public/style.css">
  <title>Document</title>
</head>
<body>


    <div class="container">
          <div class="form-block">



        <form action="/inyeccionesUpdate/<%= data.id %>" method="POST" class="form-input">
        
          <input
            type="text"
            name="name"
            value="<%= data.name %>"
            placeholder="Nombre"
            class="form-control mb-3"
            autofocus
          />
          <input
            type="number"
            name="mes"
            value="<%= data.mes%>"
            placeholder="Mes"
            class="form-control mb-3"
          />
          <input
            type="date"
            name="time"
            value="<%= data.time%>"
            placeholder="Fecha"
            class="form-control mb-3"
          />
             <input
            type="text"
            name="phone"
            value="<%= data.phone%>"
            placeholder="Teléfono"
            class="form-control mb-3"
          />
             <input
            type="email"
            name="emal"
            value="<%= data.email%>"
            placeholder="Correo Eléctronico"
            class="form-control mb-3"
          />


          <button type="submit" class="btn btn-primary">Actualizar Usuaria</button>
        </form>
      </div>
    </div>
  </div>
</div>

  
</body>
</html>

